@font-face {
	font-family: 'Unbounded';
	src: local('Unbounded'), url(./assets/fonts/Unbounded-VariableFont_wght.ttf) format('truetype');
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
	'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow: hidden;

	background-color: var(--background-colour);
	color: var(--text-colour);
	letter-spacing: .7px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
/* #191919 */
/* rgb(0, 80, 219) */
:root {
	--background-colour: #333;
	--accent-colour: rgb(80, 0, 219);
	--box-colour: #191919;
	--heading-colour: #fff;
	--text-colour: #333;
}

.App {
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-areas: 
		'a a'
		'b c';
}

.wrapper {
	grid-area: c;
	height: 93vh;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 2rem 4rem 2rem 2rem;
	/* background-color: var(--background-colour); */
}

.banner {
	content: ' ';
	position: absolute;
	background: rgb(2, 0, 36);
	background: linear-gradient(350deg, 
		rgba(2, 0, 36, 1) 0%, 
		rgba(9, 9, 121, 1) 20%, 
		var(--accent-colour) 100%);
	height: 42%;
	width: 110%;
	top: 3em;
	z-index: -5;
	/* filter: brightness(50%); */
}

h1, h2, h3 {
	color: var(--heading-colour);
}

.centered {
	margin: 0;
	width: 100%;
	transform: translateX(45%);

}