.tableContainer {
	max-height: 60vh;
	overflow-y: auto;
	box-shadow: inset 0px 0px 15px rgb(0 0 0 / .07);

	/* Width */
	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: var(--secondary-colour);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: var(--accent-colour);
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: var(--text-colour);
	}
}

table {
	width: 100%;
	text-align: center;
	border-radius: 5px;
	user-select: none;

	thead {
		color: var(--heading-colour);

		th {
			padding: 10px 5px;
			font-weight: 500;
			position: sticky;
			top: -0px;
			z-index: 1;
			background-color: var(--accent-colour);
			border-bottom: 3px solid black;

		}
	}

	tbody {
		tr {
			transition: ease .15s all;

			&:hover {
				cursor: pointer;
				background-color: rgb(0 0 0 / .1);
			}
		}

		td {
			padding: 10px;
			border-bottom: 1px solid rgb(0 0 0 / .07);
		}
	}
}

.button {
	margin: 0 10px;
	padding: 5px;
	border: none;
	cursor: pointer;
	font-size: 1em;
	letter-spacing: .5px;
	border-radius: 5px;
	transition: all ease .15s;

	&:hover {
		background-color: red;
	}

	&:hover:not(.destructive) {
		background-color: var(--accent-colour);
		color: var(--heading-colour);
	}

}